[Unit]
Description=Your Docker Compose Application
Requires=docker.service
After=docker.service network.target

[Service]
Type=simple
WorkingDirectory=/home/<USERNAME>
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
Restart=always
RestartSec=10s

# Optional security settings
User=<USERNAME>

[Install]
WantedBy=multi-user.target
